# INSERIR CHAVE API GEMINI (https://aistudio.google.com/api-keys)
GEMINI_API_KEY=

# SpringDatasource
REVIEW_SPRING_DATASOURCE_URL=

# Banco de Dados PostgreSQL
REVIEW_SERVICE_DB_USER=
REVIEW_SERVICE_DB_PASSWORD=
REVIEW_SERVICE_DB_PORT=

# KAFKA
KAFKA_SERVERS=

# Review Service PORT
REVIEW_SERVICE_PORT=
